@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebAppFruitable.Model
@model List<WebAppFruitable.Model.Product>

<div class="container">
    @if (TempData["Msg"] != null)
    {
        <div class="m-2 alert alert-success alert-dismissible fade show" role="alert">
            <strong>@TempData["Msg"]</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <button class="btn btn-primary mt-2 mb-2" id="create-product">Create Product</button>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ProductId</th>
            <th scope="col">Category</th>
            <th scope="col">ProductName</th>
            <th scope="col">ImageUrl</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Rating</th>
            <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr product-id="@item.ProductId">
                <th scope="row">@item.ProductId</th>
                <td>@item.Category.CategoryName</td>
                <td>@item.ProductName</td>
                <td>
                    <img src="/img/@item.ImageUrl" width="150"/>
                </td>
                <td>@item.Price</td>
                <td>@item.Description</td>
                <td>@item.Rating</td>
                <td>
                    <i class="far fa-edit"></i>
                    <i class="fas fa-trash"></i>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="modal fade" id="createProductModal" tabindex="-1" aria-labelledby="createProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/dashboard/product/create" method="post" enctype="multipart/form-data" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createProductModalLabel">Create Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label" for="ProductName">ProductName</label>
                        <input class="form-control" type="text" id="ProductName" name="ProductName"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"for="Image">Image</label>
                        <input class="form-control" type="file" id="Image" name="File"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="Price">Price</label>
                        <input class="form-control" type="text" id="Price" name="Price"/>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" name="Description" placeholder="Leave a comment here" id="Description" style="height: 100px"></textarea>
                            <label for="Description">Description</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"for="Rating">Rating</label>
                        <input class="form-control" type="number" value="1" min="1" max="5" id="Rating" name="Rating"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="CategoryId">Category</label>
                        <select class="form-select" name="CategoryId" id="CategoryId">
                            @foreach (Category item in ViewBag.Categories)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/dashboard/product/update" method="post" enctype="multipart/form-data" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProductModalLabel">Edit Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="ProductId" name="ProductId"/>
                    <div class="mb-3">
                        <label class="form-label" for="ProductName">ProductName</label>
                        <input class="form-control" type="text" id="ProductName" name="ProductName"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="Image">Image</label>
                        <input class="form-control" type="file" id="Image" name="File"/>
                        <input type="hidden" id="ImageUrl" name="ImageUrl"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="Price">Price</label>
                        <input class="form-control" type="text" id="Price" name="Price"/>
                    </div>
                    <div class="mb-3">
                        <div class="form-floating">
                            <textarea class="form-control" name="Description" placeholder="Leave a comment here" id="Description" style="height: 100px"></textarea>
                            <label for="Description">Description</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label"for="Rating">Rating</label>
                        <input class="form-control" type="number" value="1" min="1" max="5" id="Rating" name="Rating"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="CategoryId">Category</label>
                        <select class="form-select" name="CategoryId" id="CategoryId">
                            @foreach (Category item in ViewBag.Categories)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form action="/dashboard/product/delete" method="post" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProductModalLabel">Delete Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <input type="hidden" name="id"/>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(".fa-trash").click(function (){
            const id = $(this).closest("tr").attr("product-id");
            $("#deleteProductModal").modal("show");
        })

        $(".fa-edit").click(function (){
            const id = $(this).closest("tr").attr("product-id");
            $.get(`/dashboard/product/update/${id}`,(data)=> {
                $("#editProductModal input#ProductId").val(id);
                $("#editProductModal #ProductName").val(data?.productName);
                $("#editProductModal #Price").val(data?.price);
                $("#editProductModal #Rating").val(data?.rating);
                $("#editProductModal #ImageUrl").val(data?.imageUrl);
                $("#editProductModal #Description").val(data?.description);
                $("#editProductModal #CategoryId").val(data?.categoryId);
                $("#editProductModal").modal("show");
             });
            });

        $("#create-product").click(function (){
            const id = $(this).closest("tr").attr("product-id");
            $("#createProductModal").modal("show");
        });
    </script>
}