@model IEnumerable<Upload>

<div>
    <ul>
        <li>
            <a href="/upload/simple">Upload Simple</a>
        </li>
        <li>
            <a href="/upload/multiple">Upload Multiple</a>
        </li>
        <li>
            <a href="/upload/folder">Upload Folder</a>
        </li>
        <li>
            <a href="/upload/ajax">Upload Ajax</a>
        </li>
        <li>
            <a href="/upload/draganddrop">Upload Drag And Drop</a>
        </li>

        <li>
            <a href="/upload/clipboard">Clipboard</a>
        </li>
    </ul>
</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Original</th>
        <th>Image</th>
        <th>Type</th>
        <th>Size</th>
        <th>Date</th>
        <th>Command</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        {
            <tr>
                <td>@item.UploadId</td>
                <td>@item.OriginalName</td>
                <td>
                    <img width="300" height="200" src="images/@item.ImageUrl" alt="@item.OriginalName"/>
                </td>
                <td>@item.Type</td>
                <td>@item.Size</td>
                <td>@item.UploadDate</td>
                <td>
                    <a href="/upload/delete/@item.UploadId">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>