@model List<WebKoi.Model.Customer>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Fullname</th>
        <th>Phone</th>
        <th>Job</th>
        <th>Role</th>
        <th>Service</th>
        <th>Number of Order</th>
        <th>Business</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody id="rs">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FullName</td>
            <td>@item.Phone</td>
            <td>@item.Job</td>
            <td>@item.RoleId</td>
            <td>@item.ServiceId</td>
            <td>@item.NumberOfOrderId</td>
            <td>@item.BusinessId</td>
            <td>@item.Description</td>
        </tr>
    }
    </tbody>
</table>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>1 secs ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>