@model List<IdentityUser>


<table class="table table-bordered">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Email Confirm</th>
        <th>Two Factor Enabled</th>
        <th>Command</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>@item.EmailConfirmed</td>
            <td>@item.TwoFactorEnabled</td>
            <td>
                <a class="btn btn-outline-primary del" href="/dashboard/user/delete/@item.Id">
                    Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(".del").click(function () {
          return  confirm("Are you sure delete?");
        });
    </script>
}