@model Role

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="/dashboard/role">Role</a></li>
        <li class="breadcrumb-item active" aria-current="page"> @Model.RoleName</li>
    </ol>
</nav>

<div class="card">
    <div class="card-header">
        <div class="card-title">
            @Model.RoleName
        </div>
    </div>
    <div class="card-body">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Url</th>
                <th>Parent</th>
                <th>Checked</th>
            </tr>
            </thead>
            <tbody>
            @foreach (AccessChecked item in ViewBag.AccessChecked)
            {
                <tr v="@item.AccessId">
                    <td>@item.AccessName</td>
                    <td>@item.AccessUrl</td>
                    <td>@item.ParentId</td>
                    <td>
                        <input
                            class="chk"
                            type="checkbox" @(item.Checked ? "checked" : "")/>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        $(".chk").click(function () {
         const aid = $(this).closest('tr').attr('v');
         $.post("/dashboard/role/accesses/@Model.RoleId", {
         accessId:aid,
         roleId:@Model.RoleId}, (data)=>{
         console.log({data})
         })
        });
    </script>
}